* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: #f0f0f5 url("../images/github.svg") no-repeat 70% top;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 16px Roboto, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

button {
  cursor: pointer;
}

span.error {
  margin-top: 10px;
  display: block;
  color: #c53030;
}

.container h1 {
  font-size: 48px;
  color: #3a3a3a;
  max-width: 450px;
  line-height: 56px;

  margin-top: 50px;
}

.container form {
  margin-top: 40px;
  max-width: 700px;

  display: flex;
}

.container form input {
  flex: 1;
  height: 70px;
  padding: 0 24px;
  border: 0;
  border-radius: 5px 0 0 5px;
  color: #3a3a3a;
  border: 2px solid #fff;
  border-right: 0;
}

.container form input.inputError {
  border: 1px solid #c53030;
}

.container form button {
  width: 130px;
  height: 70px;
  background: #04d361;
  border-radius: 0 5px 5px 0;
  border: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.container form button:hover {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.container .repositories {
  margin-top: 50px;
  max-width: 700px;
}

.container .repositories a {
  background: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 24px;
  display: block;
  text-decoration: none;

  display: flex;
  align-items: center;
  transition: transform 0.2s;
}

.container .repositories a:hover {
  transform: translateX(10px);
}

.container .repositories a + a {
  margin-top: 16px;
}

.container .repositories img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.container .repositories .user {
  margin: 0 16px;
  flex: 1;
}

.container .repositories .user strong {
  font-size: 20px;
  color: #3d3d4d;
}

.container .repositories .user p {
  font-size: 18px;
  color: #a8a8b3;
}

.container .repositories .user .fa {
  margin-left: auto;
  color: #cbccd6;
}

/* =================================================*/

.header-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-app a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #a8a8b3;
  transition: color 0.2s;
}

.header-app a:hover {
  color: #666;
}

.header-app a img {
  margin-right: 4px;
}

section {
  margin-top: 80px;
}

section header {
  display: flex;
  align-items: center;
}

section header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

section header div {
  margin-left: 24px;
}

section header div strong {
  font-size: 36px;
  color: #3d3d4d;
}

section header div p {
  font-size: 18px;
  color: #737380;
  margin-top: 4px;
}

section ul {
  display: flex;
  list-style: none;
  margin-top: 40px;
}

section ul li + li {
  margin-left: 80px;
}

section ul strong {
  display: block;
  font-size: 36px;
  color: #3d3d4d;
}

section ul span {
  display: block;
  margin-top: 4px;
  color: #6c6c80;
}

.issues .issues-item {
  margin-top: 50px;
}

.issues .issues-item {
  background: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 24px;
  display: block;
  text-decoration: none;

  display: flex;
  align-items: center;
  transition: transform 0.2s;
}

.issues .issues-item:hover {
  transform: translateX(10px);
}

.issues a.issues-item + a.issues-item {
  margin-top: 16px;
}

.issues .issues-item div {
  margin: 0 16px;
  flex: 1;
}

.issues .issues-item div strong {
  font-size: 20px;
  color: #3d3d4d;
}

.issues .issues-item div p {
  font-size: 18px;
  color: #a8a8b3;
}

.issues .issues-item img {
  margin-left: auto;
  color: #cbccd6;
}
